<p id="notice"><%= notice %></p>

<html class="no-js" lang="en"><!--<![endif]-->

<body>  
  <section id="main">
    <section class="inner">
      <article class="container">  
        <div id="links" class="span8 screen-only">
          <div class="">
            <ul class="nav nav-pills pull-right" style="font-size:12px;">
              <li class="active">
                <a href="/aulas">Aulas</a>
              </li>
              <li>
                <a href="/motivos">Motivos <i id="bmk-count"></i></a>        
              </li>
              <li>
                <a href="/entrevista">Entrevistas</a>
              </li>
              <li>
                <a href="/reserves">Datos Estadísticos</a>
              </li>
            </ul>
          </div>
        </div>
        <div id="content">
          <div class="form-content">
            <div class="row-fluid">
              <div class="container">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th><h2> Tipo </h2></th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                   <tbody>
                    <% @motivos.each do |motivo| %>
                      <tr>
                        <td><%= motivo.tipo %></td>
                        <td><%= link_to 'Modificar', edit_motivo_path(motivo),class:'btn btn-success' %></td>
                        <td><%= link_to 'Eliminar', motivo,class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <%= link_to 'Nuevo', new_motivo_path,class:'btn btn-primary' %>
              </div>
              <br>
              <div class="inner">
                <h3 class="uap_logo pull-left"><span>Universidad Adventista del Plata</span></h3>
                <p class="copyright pull-right">© 2016 UAP - Gerencia INIS</p>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
  </section>
</body>
</html>