
<div class="border-form-div">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, :value => current_user.email, :readonly => true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <label>Contraseña Actual</label> 
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="field">
      <label>Nueva Contraseña</label>
      <%= f.password_field :password, autocomplete: "off", :autofocus => true %>
    </div>

    <div class="field">
      <label>Confirme Contraseña</label>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Actualizar", :class=>'btn btn-primario' %>
      <%= link_to "Volver", :back, :class=>'btn btn-primario' %>
    </div>
  <% end %>

  
</div>