<html class="no-js" lang="en"><!--<![endif]-->

<head>
  <script type="text/javascript">
function mostrar_motivos(){
document.getElementById('listmotivos').style.display = 'block';

}
function ocultar_motivos(){
document.getElementById('listmotivos').style.display = 'none';

}

function mostrar_aulas(){
document.getElementById('listAulas').style.display = 'block';

}
function ocultar_aulas(){
document.getElementById('listAulas').style.display = 'none';
}

function mostrar_departamentos(){
document.getElementById('listDepartamentos').style.display = 'block';

}
function ocultar_departamentos(){
document.getElementById('listDepartamentos').style.display = 'none';
//document.getElementById('dpto').className = "";
}

</script>

</head>
<body>
<section id="main">
    <section class="inner">
      <article class="container">  
        
        <div class="container" id="yield_container" >

          <div class="text-center screen-only">
            <br><br>
            <div class="btn-group">
              <a class="btn btn-default active" href="https://portalalumno.uap.edu.ar/home"><span class="glyphicon glyphicon-hand-up"> </span></a>
              <a class="btn btn-default " href="https://portalalumno.uap.edu.ar/academic_file">Entrevistas</a>
              <a class="btn btn-default " href="https://portalalumno.uap.edu.ar/finances">Derivaciones</a>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Otros
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li ><a href="https://portalalumno.uap.edu.ar/documents">Historial</a></li>
                  <li ><a onclick="mostrar_aulas(), ocultar_motivos(),  ocultar_departamentos()">Aulas</a></li>
                  <li ><a onclick="mostrar_motivos(), ocultar_aulas(), ocultar_departamentos()">Motivos</a></li>
                   <li ><a onclick="mostrar_departamentos(), ocultar_aulas(), ocultar_motivos()">Departamentos</a></li>
                </ul>
              </div>
            </div>
            <br><br>
          </div>  
                
        </div>

           
        <!-- MOTIVOS -->

        <div id="listmotivos" style="display: none;"  >
          <div class="form-content">
            <div class="row-fluid">
              <div class="container">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th><h2> Tipo </h2></th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                   <tbody>
                    <% @m.each do |motivo| %>
                      <tr>
                        <td><%= motivo.tipo %></td>
                        <td><%= link_to 'Modificar', edit_motivo_path(motivo),class:'btn btn-success' %></td>
                        <td><%= link_to 'Eliminar', motivo,class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <%= link_to 'Nuevo', new_motivo_path,class:'btn btn-primary' %>
                <br>
                <br>
                <br>
                <br>
                <br>
              </div>
              <br>
            </div>
          </div>
        </div>

        <!-- AULAS -->  

        <div id="listAulas" style="display: none;" >
          <div class="form-content">
            <div class="row-fluid">
              <div class="container">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Capacidad</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @ma.each do |aula| %>
                      <tr>
                        <td><%= aula.nombre %></td>
                        <td><%= aula.capacidad %></td>
                        <td><%= link_to 'Modificar', edit_aula_path(aula),class:'btn btn-success' %></td>
                        <td><%= link_to 'Eliminar', aula,class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <br>
                <%= link_to 'Nueva Aula', new_aula_path,class:'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>

        <!-- DEPARTAMENTOS -->

        <div id="listDepartamentos" style="display: none;"  >
          <div class="form-content">
            <div class="row-fluid">
              <div class="container">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th><h2> Nombre </h2></th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                   <tbody>
                    <% @dp.each do |departamento| %>
                      <tr>
                        <td><%= departamento.nombre %></td>
                        <td><%= link_to 'Modificar', edit_departamento_path(departamento),class:'btn btn-success' %></td>
                        <td><%= link_to 'Eliminar', departamento,class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <%= link_to 'Nuevo Departamento', new_departamento_path,class:'btn btn-primary' %>
                <br>
                <br>
                <br>
                <br>
                <br>
              </div>
              <br>
            </div>
          </div>
        </div>


    </article>
  </section>
</section>


</body>
</html>