

<html class="no-js" lang="en"><!--<![endif]-->

  <div class="form-content">
   <div class="row-fluid">
        <div class="container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Capacidad</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @aulas.each do |aula| %>
                <tr>
                  <td><%= aula.nombre %></td>
                  <td><%= aula.capacidad %></td>
                  <td><%= link_to 'Modificar', edit_aula_path(aula),class:'btn btn-success' %></td>
                  <td><%= link_to 'Eliminar', aula,class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <br>
        <%= link_to 'Nueva Aula', new_aula_path,class:'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</html>

