<p id="notice"><%= notice %></p>

<p>
  <strong>Asistencia:</strong>
  <%= @entrevistum.asistencia %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @entrevistum.tipo %>
</p>

<%= link_to 'Edit', edit_entrevistum_path(@entrevistum) %> |
<%= link_to 'Back', entrevista_path %>
