

<div class="titulo-form-corp"><h2>Registro de Derivaciones</h2></div>
<hr class="hr_corp"></hr>
<div class="border-form-div-corp">  
  <h4 align="center">Ingrese los datos</h4>
  <hr>
  <div class="cont-col-corp">  
    <%= form_for(@derivacion) do |f| %>
      <% if @derivacion.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@derivacion.errors.count, "error") %> prohibited this derivacion from being saved:</h2>

          <ul>
          <% @derivacion.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <div class="field-corp" class="f-control">
        <%= f.label :departamento %><br>
        <%= collection_select(:derivacion, :departamento_id, Departamento.all, :id, :nombre,  prompt: "Seleccionar") %>
        </div>
        <br>
        <div class="field-corp" class="f-control">
          <%= f.label :observaciones %><br>
          <%= f.text_field :observaciones %>
        </div>
        <div class="actions">
          <%= f.submit "Aceptar",:class=>'btn btn-primario-azul' %>
          <%= link_to 'Volver', derivacions_path, :class=>'btn btn-success' %>
        </div>
    <% end %>
  </div>
  <hr>
  <div class="pie-formulario">
    <p class="mensaje-pie-formulario">Mensaje final del formulario</p>
    <br>
  </div>
</div>