
<div class="border-form-div-corp-calendar">  
  <h4 align="center">Crear un nuevo Horario</h4>
  <hr>
  <div class="cont-col-corp">  
    <%= form_for(@event) do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <%= f.hidden_field :title, :value => "Consulta" %>
      <div class="field" id="myInput">
        <%= f.label :descripcion %><br>
        <%= f.text_area :description %>
      </div><br>
      <div class="field">
        <%= f.label :comienza %><br>
        <%= f.datetime_select :start_time, {:discard_year => true}%>
      </div><br>
      <div class="field">
        <%= f.label :finaliza %><br>
        <%= f.datetime_select :end_time, {:discard_year => true}, {minute_step: 30, :start_hour => 6, :end_hour => 20} %>
      </div><br>
      <div class="actions">
        <%= f.submit "Aceptar",:class=>'btn btn-primario-azul' %>
        <%= link_to 'Volver', events_path, :class=>'btn btn-success'  %>
      </div>
    <% end %>
  </div>
</div>

<div class="border-form-div-muestra-calendar">  
  <h4 align="center">Listado de Horarios</h4>
  <hr>
  <table class="table table-hover table-fixed">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Día</th>
        <th>Comienza</th>
        <th>Finaliza</th>
        <th colspan="3">Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% Event.all.each do |event| %>
        <tr>
          <td><%= event.title %></td>
          <td><%= event.start_time.strftime("%B %d") %></td>
          <td><%= event.start_time.strftime("%H:%M") %></td>
          <td><%= event.end_time.strftime("%H:%M") %></td>
          <td><%= link_to 'Eliminar', event ,class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>