<html class="no-js" lang="en"><!--<![endif]-->

<head>
<script type="text/javascript">
function funcion_entrevistas(variable){
document.getElementById('listEntrevistas').style.display = variable;
}

function funcion_horarios(variable){
document.getElementById('listHorarios').style.display = variable;
}

function funcion_derivaciones(variable){
document.getElementById('listDerivaciones').style.display = variable;
}
</script>

<script type="text/javascript">
    function mostar_calendario(nombre){
      var resultado = nombre;
    document.getElementById('calendar').style.display = resultado;
    }

</script>

</head>
<body>
<br>

<section id="main">
    <section class="inner">
      <article class="container">  
        <div class="container" id="yield_container" >

          <div class="text-center screen-only">
            <br><br>
            <div class="btn-group">
              <a class="btn btn-default active" href="/users/sign_in">
              <i class="fa fa-home"></i></a>
              <a class="btn btn-default" onclick ="mostar_calendario('block'),funcion_entrevistas('none'), funcion_horarios('none'), funcion_derivaciones('none')">Entrevistas</a>
              <%= link_to 'Horarios', new_event_path, class:'btn btn-default' %>
              <a class="btn btn-default">Historial</a>
            </div>
          </div>                  
        </div>

        <!-- ENTREVISTAS -->

              <div id="listEntrevistas" style="display: none;"  >
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Asistencia</th>
                      <th>Tipo</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                   <tbody>
                    <% @e.each do |entrevistum| %>
                      <tr>
                        <td><%= entrevistum.asistencia_valor %></td>
                        <td><%= entrevistum.tipo_valor %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <br>
              <%= link_to 'Nueva Entrevista', new_entrevistum_path,class:'btn btn-primary' %>
                <br>
                <br>
                <br>
                <br>
                <br>
              </div>
              <br>

        <!-- HORARIOS -->  

        <div id="listHorarios" style="display: none;" >
          <div class="form-content">
            <div class="row-fluid">
              <div class="container">
                <h1>Horarios</h1>

                  <table>
                    <thead>
                      <tr>
                        <th>Hora Inicial</th>
                        <th>Hora Final</th>
                        <th>Día</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @hr.each do |horario| %>
                        <tr>
                          <td><%= horario.hora_inicio %></td>
                          <td><%= horario.hora_fin %></td>
                          <td><%= horario.dia %></td>
                          <td><%= link_to 'Show', horario %></td>
                          <td><%= link_to 'Edit', edit_horario_path(horario) %></td>
                          <td><%= link_to 'Destroy', horario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>

                  <br>

                  <%= link_to 'New Horario', new_horario_path %>
              </div>
            </div>
          </div>
        </div>

        <!-- DERIVACIONES -->

        <div id="listDerivaciones" style="display: none;"  >
          
                <h1>Derivaciones</h1>
                  <table>
                    <thead>
                      <tr>
                        <th>Observaciones</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @driv.each do |derivacion| %>
                        <tr>
                          <td><%= derivacion.observaciones %></td>
                          <td><%= link_to 'Show', derivacion %></td>
                          <td><%= link_to 'Edit', edit_derivacion_path(derivacion) %></td>
                          <td><%= link_to 'Destroy', derivacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <br>
                  <%= link_to 'New Derivacion', new_derivacion_path %>
                <br>
        </div>
        <div id="calendar" style="display: block;"></div>
        <br><br><br><br><br>
      </article>
    </section>
  </section>
</body>
</html>